@import "libs/_reset.scss";
@import "libs/_responsive.scss";
@import "libs/_home.scss";
@import "libs/_restaurant.scss";

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&family=Shrikhand&display=swap');

$violet: hsla(267, 66%, 60%, 1);
$rose: hsla(317, 100%, 74%, 1);
$turquoise: hsla(165, 56%, 74%, 1);
$bold: 500;

body {
  background-color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-weight: 200;
}

h2{
  font-size: 20px;
  font-weight: $bold;

  @include tablet{
    text-align: center;
    padding-bottom: 2vh;
    font-size: 25px;
  }

  @include xl{
    font-size: 30px;
    padding-bottom: 4vh;
    text-align: left;
  }
}

h3{

  @include tablet{
    font-size: 20px;
  }
}

footer{

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background: #353535;
  color: #fff;
  padding: 2vh 3vh 8vh 3vh;
  line-height: 4vh;
  font-size: 14px;
  font-weight: 400;

  @include tablet{
      padding-left: 8vh;
      font-size: 18px;
      line-height: 5vh;
      
  }

  @include lg{
      font-size: 15px;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      padding: 2vh ;
  }

  a{
      color: #fff;
      &:hover{
         color: $turquoise;
      }
  }

  img{
      width: 30%;
      padding: 2vh 0vh;

      @include lg{
          width: 15%;
          padding-left: 5vh;
          padding-top: 0vh;
      }
  }

  .icone-footer{
      display: flex;
      flex-direction: row;
      i{
          padding: 6px 15px 6px 0vh;
          order:1;
      }

      a{
          order:2;

          &:hover + i{
              color: $turquoise;
          }
      }

      .fa-utensils{
          padding: 6px 20px 6px 0vh;
      }
  }
}

