@import "libs/_reset.scss";
@import "libs/_responsive.scss";
@import "libs/_home.scss";
@import "libs/_restaurant.scss";

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&family=Shrikhand&display=swap');

$violet: hsla(267, 66%, 60%, 1);
$rose: hsla(317, 100%, 74%, 1);
$turquoise: hsla(165, 56%, 74%, 1);
$bold: 500;

body {
  background-color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-weight: 200;
}

h2{
  font-size: 20px;
  font-weight: $bold;
}



